MONGO_URI=mongodb+srv://<kullanici_adi>:<sifre>@<cluster_adresi>.mongodb.net/?appName=Cluster0

AWS_ACCESS_KEY=<aws_access_key_id>
AWS_SECRET_KEY=<aws_secret_access_key>
BUCKET_NAME=<s3_bucket_adi>
REGION=<aws_region_orn_eu-north-1>
